{% load static %}
{% block navbar %}
<title>Public Channel Viewer</title>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<script href="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
<script href="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<style>
.navbar-high {
    background-color: #2a4705;
}
/* change the brand and text color */
.navbar-high .navbar-brand,
.navbar-high .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-high .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-high .nav-item.active .nav-link,
.navbar-high .nav-item:hover .nav-link {

}

.navbar-low {
    background-color: #789a29;
}
/* change the brand and text color */
.navbar-low .navbar-brand,
.navbar-low .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-low .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
	text-align: center;
}
/* change the color of active or hovered links */
.navbar-low .nav-item.active .nav-link,
.navbar-low .nav-item:hover .nav-link {
    color: #ffffff;
	text-align: center;
}
</style>

  <nav class="navbar navbar-expand-md navbar-high ">
      
<a class="navbar-brand" href="../">Public Channel Viewer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../login">Вход / Регистрация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/view_posts">Читать канал</a>
          </li>
		<li class="nav-item">
            <a class="nav-link disabled" href="/search">Список каналов</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>
	
  <nav class="navbar navbar-expand-md navbar-low " >
  <div >
      <a  text-align= "center" class="navbar-brand" href="#"></a>
	  </div>
    </nav>

    </nav>
{% endblock %}
{% block content %}
{% endblock %}